*{
    color:red;
}
.square{
    width: 10px;
    height: 10px;
    border: 1px black solid;
    left:10px;
    display: inline-block;
}
.container{
    border: 1px blue solid;
    width: 960px;
}
.highlight{
    background-color: gray;
}